body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('luna.jpg') no-repeat center center fixed; /* Agrega la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad para la transparencia */
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6a0dad; /* Color púrpura */
}

label {
    display: block;
    margin: 1em 0 0.5em;
    color: #6a0dad; /* Color púrpura */
}

input {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    border: 1px solid #6a0dad; /* Borde púrpura para el input */
    border-radius: 4px;
}

button {
    padding: 0.5em 2em;
    background-color: #6a0dad; /* Fondo púrpura para el botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5b0c9e; /* Color púrpura más oscuro para el botón al pasar el cursor */
}

#result, #relationshipMeaning {
    margin-top: 1em;
    font-size: 1.2em;
    color: #6a0dad; /* Color púrpura para los resultados */
}

